.acce_File_{
	text-align: center;
}
.file-drop-zone-title {
	padding: 11px;
}
.submit_btn{
	margin-top: 19px;
	float: right;
	text-align: right;
}
.cursor_pointer{
	cursor: pointer;
}
.cprp{
	padding: 30px 55px;
}
.budget{
	padding: 30px 55px;
}
.disabled {
	color: #999;
}
.disable_border{
	border:1px solid #ccc !important;
	cursor: auto;
}
.login-form {
	width: 100% ;
}
.select2-selection--single .select2-selection__rendered{
	padding-left: 2.75rem !important;
}
.form-control-feedback {
	position: absolute;
	top: 33px;
}
.form-group-feedback-left .form-control {
	padding-left: 10px;
}
.select2-selection--single .select2-selection__rendered{
	padding-left: 10px !important;
}
.hide{
	display: none;
}

.commonstyle.barcmsg {
	margin-top: 25px!important;
	margin: auto;
	padding: 10px;
    height: 7vh;
    width: 100%;
    color: white;
    text-align: center;
    background: black;
    border: 1px solid black!important;
    border-radius: 5px;   
}
.commonstyle {
    margin-top: 25px!important;
    padding: 12px 16%;
    width: 100%;
    color: white;
    text-align: center;
    background: black;
    border: 1px solid black!important;
    border-radius: 5px;
}

.content{
	background-size: cover;
}
#admin{
	display: none !important;
}
#select2-error{
	display: none !important;
}
.validation-invalid-label{
	display: none !important;
}
.select2{
	width: 100% !important;
}
.cprp_submit{
	width: 100%;
}
.btn.btn-primary.backclass {
	top:100px;
	color: #F07144;
	border:none;
	float: left;
	background-color: transparent !Important;
}
.kv-file-upload {
	display: none;
}
.uploadbtn{
	display: block;
    width: 150px;
    padding: 7px 0px;
    border: none;
    border-radius: 6px;
    /* height: 30px; */
    color: #fff;
    background-color: #F07144;
    margin-top: -3px;
}
   .texttodisplay{margin: auto;
    background: none !important;
    color: #fff;
    text-align: center;
    padding: 0px !important;
	
    margin-top: 0px !important;
	border: none!important;
   }

	
/* responsive */
@media screen and (max-width: 320px) {
		.icon-paragraph-justify3:before {
			color: white;
			}
			.col-lg-3{
				margin-top:5px;
			}
			.col-lg-6{
				margin-top:5px;
			}
}
@media screen and (max-width: 768px) {
			.col-lg-3{
				margin-top:5px;
			}
			.col-lg-6{
				margin-top:5px;
			}

}

@media screen and (max-width: 768px) and (min-width: 570px) {
    .btn.btn-primary {
        margin-top: 10px;

    }
    .file-caption {
        margin-top: 12px!important;
    }
}
@media screen and (max-width: 570px) and (min-width: 320px) {
    .icon-paragraph-justify3 {
    content: "\eec1";
    color: white;
    }
    .btn.btn-primary {
        margin-top: 10px;

    }
    .file-caption {
        margin-top: 12px!important;
    }
	.barcmsg{
		width: auto;
	}
}
/* responsive */
.file_nameBarc {
	margin: 0px;
	border-left: 3px solid #fff;
	padding-left: 20px;
}