
.hidden{
    display:none;
}
/* .dataTables_filter{
    display: none;
} */

.Prioritizebtn{
    background-color: #dfe4ea;
    border: none;
    color: #000;
    padding: 5px 22px;
    border-radius: 2px;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
   top: 4px;
   left: 3px;
   height: 16px;
   width: 16px;
   background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #bb512b;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
	left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* .datatable-header{
display: none !important;
} */
/* .loading{
    position: fixed;
    background: rgba(177, 172, 172, 0.4);
    width: 81vw;
    height: 100vh;
    top: 83px;
    z-index: 999999999999999999999999999999;
    text-align: center;
    padding-top:37vh;
    left: 20%;
}
.loading img{
    width: 70px;
} */
.DownloadAllfiles{
   padding: 4px 20px;
    background: #bb512b;
    border: 1px solid #131514;
    /* border-radius: 5px; */
    font-size: 15px;
    font-weight: 400;
    margin-right: 10px;
    color: white;
}
div.row_body div:nth-of-type(even)
{
    background-color: #131514;
}
div.row_body div:nth-of-type(odd)
{
    background-color : #1f1d1d;
}

.content {
    /* background-color: red /* background-image: url(../images/wmflow.png) no-repeat; */
    /* background-image: url('asserts/images/wmflow.png') */
    /* background-image: url("assets/images/wmflow.png");
    background-repeat: no-repeat, repeat; */
    background-color: #1f2022;
}
.createbtn{
    border-radius: 3px;
    background-color: #b7cfe0;
    color: whi;
    font-size: 14px;
    padding: 6px 8px 5px 8px;
    color: #1a181f;
    cursor: pointer;
    border: none;
    font-weight: 500;
}
.linesss{
        position: absolute;
        top: 90px;
        width: 100%;
        border-top: 1px solid #484545;
        border-bottom: 1px solid #3e3b3b;
        padding: 1px;
}
.breadcrumb-line-light{
    background-color: #1f2022;
    color: white;
}
.content.cntnt{
    background-color: #1f2022;
}
.row_{
    height:100%
}
.colxl{
    height:100%;
}
.card{
    height:100%;
    background-color: #1f2022;
}
.btn3_{
    padding:12px;
}
.btn3{
    float:right;
    width:20px;
    height:20px;
    cursor:pointer !important;
}
/* .row.displaytoptextboxes{
    display:none;
} */
.campid{
    margin-top:6px;
    margin-right:14px;
    margin-left:12px;
}
.Campaignidclass{
    padding:5px;
}
.date{
   margin-top:6px;
}
.gobtn{
    background-color:#f07144;
    color:#fff;
    border:none;
    position: absolute;
    bottom: 7px;
}

.datatable-multi-sorting{
    color:white;
    margin-top:30px;
}
.brnd{
    width:76px;
}
.clnt{
    width:170px;
}
.startdate{
    width:162px;
}
.modal-content{
    margin-top: 255px;
}
.form-control.up{
    background-color: #192124;
    color: white;
}
.modal-content.mc{
    margin-top: 255px;
    background-color: #131514;
    border: 1px solid #b54d27;
}
.down{
    color:white;
}
.modal-body.sl{
    padding-top: 0px;
}
.row.rowsl{
    display:block;
}

/* responsive */
.icon-paragraph-justify3:before {
    content: "\eec1";
	color: white;
	float: right;
}

@media screen and (max-width: 1024px) {
	.content-wrapper{
		overflow-x:auto;
	}
}
@media screen and (max-width: 768px) {
	.content-wrapper{
        overflow-x:auto;
        overflow-y: auto;
    }
	.page-content{
		/* width: 1000px; */
    height: 100%;
	}
	.modal-content{
		  width: 617px;
	  }
	  .modal-backdrop {
		  background-color: #1f2022 !important;
      }
      .navbar{
          display: block;
      }
      .dataTables_wrapper.no-footer{
        overflow-x: auto;
    }
    .gobtn{
        width: fit-content;
    }
}
@media screen and (max-width: 540px) {
	.content-wrapper{
		overflow-x:auto;
	}
}

@media screen  and (max-width: 425px)  and (min-width: 320px){
	.modal-content{
		  width: 617px;
		  margin-left: 218px;
	  }
	  .modal-backdrop {
		  background-color: #1f2022 !important;
	  }
			/* .page-header{
				width: 1000px;
			} */
			/* .card{
				width: 1000px;
			} */
			/* body{
				width:fit-content;
			} */
			.col-sm-2{
			  width: 150px;
		  }
		  .col-sm-1{
			  width: 150px;
			  margin-left: 50px;
		  }
		  .gobtn{
			  margin-top: 30px;
          }
          .dataTables_wrapper.no-footer{
              overflow-x: auto;
          }
          .card.card-sidebar-mobile{
              display: contents;
          }
          .icon-paragraph-justify3:before {
              margin-top: -75px;
          }
          .d-md-none{
            margin-left: 250px;
          }
          .s-e-campid {
            margin-left: -13px;
            width: 280px;
          }
          .col-sm-1{
              width: 150px;
              margin-left: 50px;
          }
          .gobtn{
              margin-top: 30px;
              position: relative;
          }
}
/* responsive */
@media screen  and (min-width: 400px) {
    .sidebar-mobile-main-toggle{
        position: absolute;
        /* top: 13px; */
        right: 30px;
      }
}
