
.file-drop-zone-title {
	padding: 11px;
}
.submit_btn{
	margin-top: 19px;
	float: right;
	text-align: right;
}
.cursor_pointer{
	cursor: pointer;
}
.cprp{
	padding: 30px 55px;
}
.budget{
	padding: 30px 55px;
}
.disabled {
	color: #999;
}
.disable_border{
	border:1px solid #ccc !important;
	cursor: auto;
}
.next_btn a{
	color: white;
}
.file_download{
	float: right;
}
#logoutbtnid{
	background-color: #ffffff2e !important;
	border: none;
	border-radius: 5px;
	padding: 2px 15px;
	color: white;
}
.hidden{
	display: none;
}
.sendpath h5{
	cursor: pointer;
}
/* added */
.cprp{
	background-color: #1f2022;
}
.content{
	color: white;
}

.datatable-header{
	display: none !important;
}
.content {
	/* background-image: url("assets/images/wmflow.png");
	background-repeat: no-repeat, repeat; */
	background-color: #1f2022;
	/* background-size: cover; */
}


.texttodisplay {
    margin: auto;
    background: #323335;
    padding: 30px;
    margin-top: 47px;
    border: 1px solid oramge;
    border: 1px solid #f07144!important;
}

p{
	height: auto;
}

.texttodisplay {
    margin: auto;
    background: black;
    padding: 20px 60px;
    margin-top: 47px;
    width: 100%;
    border: 1px solid black!important;
    border-radius: 5px;
    
}
.switch {
	position: absolute;
    bottom: -4px;
    left: 25px;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #f07144;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* .basetgstyle{
	padding: 12px !important;
} */

/* responsive */
.icon-paragraph-justify3:before {
    content: "\eec1";
	color: white;
	float: right;

}
@media screen and (max-width: 540px) {
	.select2-selection{
	width: 275px;
}
.campign_name{
	width: 275px;
}
.campign_id{
	width: 275px;
}
.icon-paragraph-justify3:before {
    content: "\eec1";
	color: white;
	float: right;
}
}

@media screen and (max-width: 320px) {
				.mb-12{
				width: 275px;
			}
			body{
				height : 200vh!important;
						}
			.content{
				width: 260px;
						}
			.page-header{
				width: 318px
			}
			.content-wrapper{

				width: 100%;
			}
			.page-content{
				width: 333px!important;
			}
			.card.fadeInDown.texttodisplay{
				margin-left: 50px;
			}
			.jconfirm-holder{
			width: max-content;
			margin-left: 40px;
			}
}

@media screen and (max-width: 540px) {
.cprp {
    padding: 30px 0px;
}
}
@media screen and (max-width: 768px) {
.page-content{
   /* width: 1000px!important; */
   height: 120vh;
}
body{
	width: fit-content;
	height: -webkit-fill-available;
}
}
@media screen and (max-width: 320px) {
	body{
	width: auto;
}
}
/* responsive */
.breadcrumb-line.breadcrumb-line-light.header-elements-md-inline{
    background-color: #1f2022;
    color: white;
}
.btn.form-control.cprp_submit.create_plan{
    background: #F07144 !important;
    color: #fff;
}
.row .btns{
    margin-left: 15px;
    margin-right: 15px;
}
.btn.btn-primary.fadeInDown.next_btn{
    color: #F07144;
    border:none;
    float: right;
    background-color: transparent !Important;
}
.modal-dialog{
    margin-top: 211px;
}
