#logoutbtnid{
    background-color: #ffffff2e !important;
    border: none;
    border-radius: 5px;
    padding: 2px 15px;
    color: white;
}
/* .DownloadAllfiles{
    padding: 4px 20px;
    background: #4caf50;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 400;
    margin-right: 10px;
} */
.DownloadAllfiles{
   padding: 4px 20px;
    background: #bb512b;
    border: 1px solid #131514;
    /* border-radius: 5px; */
    font-size: 15px;
    font-weight: 400;
    margin-right: 10px;
    color: white;
}

.form-control.buyingbasketbtn{
    margin-top: 20px !important;
    
}

/* .dataTables_filter{
    display: none;
} */
.hidden{
    display: none;
}
/* .replanmodal{
background-color: #ff3838;
border: none;
color: #000;
padding: 5px 22px;
border-radius: 4px;

} */

.datatable-header{
    display: none !important;
}

/* .DataTables_Table_0_wrapper{

} */
/* #DataTables_Table_0_wrapper{
margin-top: 45px;
} */
.content {
    /* background-color: red /* background-image: url(../images/wmflow.png) no-repeat; */
    /* background-image: url('asserts/images/wmflow.png') */
    /* background-image: url("assets/images/wmflow.png");
    background-repeat: no-repeat, repeat; */
    background-color: #1f2022;
}
.createbtn{
    border-radius: 3px;
    background-color: #b7cfe0;
    color: whi;
    font-size: 14px;
    padding: 6px 8px 5px 8px;
    color: #1a181f;
    cursor: pointer;
    border: none;
    font-weight: 500;
}
.linesss{
        position: absolute;
        top: 91px;
        width: 100%;
        border-top: 1px solid #484545;
        border-bottom: 1px solid #3e3b3b;
        padding: 1px;
}

div.row_body div:nth-of-type(even)
{
    background-color: #131514;
}
div.row_body div:nth-of-type(odd)
{
    background-color : #1f1d1d;
}



.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
   top: 4px;
   left: 3px;
   height: 16px;
   width: 16px;
   background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #bb512b;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
	left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* responsive */
.icon-paragraph-justify3:before {
    content: "\eec1";
	color: white;
	float: right;
}

@media screen and (max-width: 1024px) {
	.content-wrapper{
		overflow-x:auto;
	}
}
@media screen and (max-width: 768px) {
	.content-wrapper{
		overflow-x:auto;
    }
	.page-content{
		/* width: 1000px; */
    height: 100%;
    }
    .navbar{
        display: block;
    }
    .dataTables_wrapper.no-footer{
        overflow-x: auto;
    }
    .gobtn{
        width: fit-content;
    }
    
}
@media screen and (max-width: 540px) {
	.content-wrapper{
		overflow-x:auto;
	}
}

@media screen  and (max-width: 425px)  and (min-width: 320px){
			
			.card{
				width: 1000px;
			}
			.body{
				width:auto;
            }
            .content{
                overflow-x: auto;
            }
            .filter {
                padding:12px;
                width: 291px;
            }
            .gobtn{
                margin-top: 30px;
                position: relative;
            }
            /* .col-sm-2{
                width: 150px;
            } */
            /* .col-sm-1{
                width: 150px;
                margin-left: 800px;
            } */
            .dataTables_length {
                display: contents;
            }
            .dataTables_length>label {
                margin-bottom: 0;
                margin-left: 35px;
            }
            .icon-paragraph-justify3:before {
                margin-top: -75px;
            }
            .d-md-none{
              margin-left: 250px;
            }
            .card.card-sidebar-mobile{
                display: contents;
            }
            .form-control.acceleratorbtn{
                padding: 0px;
            }
             .form-control.buyingbasketbtn{
                 margin-top: 20px !important;
             }
}
/* responsive */
.breadcrumb-line.breadcrumb-line-light.header-elements-md-inline{
    background-color:#1f2022;
    color: white;
}
/* .row{
    height:100%;
} */
.col-xl-12{
    height:100%;
}
.card{
    height:100%;
    background-color: #1f2022;
}
.card.card1{
    background-color: #1f2022;
    color: white;
   
}
.displaytoptextboxes.row {
    width: 300px;
}
.btn3{
    width:20px;
    height:20px;
    cursor:pointer !important;
    float:right;
}
.form-control.buyingbasketbtn{
    background-color: #192124;
    color: white;
    color:#fff;
}
.form-control.acceleratorbtn{
    background-color: #192124;
    color: white;
    color:#fff;   
}
.modal-content{
    margin-top: 255px;
    background-color: #131514;
    border: 1px solid #b54d27;
}
.modal-content.mc{
    margin-top: 255px;
}
.close.closeModal.closeClass{
    color: #bb512b
}
.modal-body{
    padding-top: 0px;
}
.row.row1{
    display:block;
}
.col-sm-2.col-xs-2{
    margin-top:6px;
}
.form-control.gobtn{
    background-color:#f07144;
    border:none;
    color:#fff;
    border:none;
    position: absolute;
    top:19px;

}
.form-control.Campaignidclass{
    padding:5px;
}
.col-sm-2.col-xs-2.i{
    margin-top:6px;
    margin-right:14px;
    margin-left:12px;
}
.table.datatable-multi-sorting{
    color:white;
    margin-top:30px;
}
